.contactBg {
    background-image: url('../../assets/contact/desktop/bg-pattern-hero-desktop.svg');
    background-position: -30px -80px;
    background-repeat: no-repeat;
    background-size: 650px;
}
